# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Platform build dirs
linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/

# Build staging
dist/

# Misc
*.swp
*.swo
*~
.DS_Store
